version: '3.8'

services:
  wirevault:
    image: jdelsinne/wirevault:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - wirevault_data:/app/data
      - wirevault_media:/app/media

volumes:
  wirevault_data:
  wirevault_media:
